!!!
%html
  %head
    = partial :head
  %body
    .RHZMwrapper
      = yield
      = javascript_include_tag "x"
      = javascript_include_tag "current_slider"
      = javascript_include_tag "swiper"
      
